[Unit]
Description=Ingress Telegram Bot
After=network.target

[Service]
WorkingDirectory=/opt/ingress-bot
Environment=BOT_TOKEN='8988387532:AAF55GfOpvW2dfxBM5slnRKY23Am2N85iB0'
ExecStart=/usr/bin/python3 bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
